* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  display: none;
}
.home-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

.home-img {
  width: 50%;
}
